definitions:
  caches:
    sql-codes: sukkiri-sql4-codes
  steps:
    - step: &japanese
        name: 'Japanese Codes(sukkiri-sql4-codes)'
        image: atlassian/default-image:2
        script:
          - git remote add sync git@github.com:miyabilink/sukkiri-sql4-codes.git
          - git config remote.origin.fetch "+refs/heads/*:refs/remotes/origin/*"
          - git fetch origin
          - git checkout main
          - git pull
          - git merge origin/main
          - git rm -f bitbucket-pipelines.yml my_known_hosts
          - git commit -m "不要なファイル群の削除"
          - git filter-branch -f --env-filter "GIT_AUTHOR_NAME='Izumi TACHIBANA'; GIT_AUTHOR_EMAIL='tachibana@miyabilink.jp'; GIT_COMMITTER_NAME='Izumi TACHIBANA'; GIT_COMMITTER_EMAIL='tachibana@miyabilink.jp';" --tag-name-filter cat -- --all
          - git push sync --tags # 要確認
          - git push -f sync main
    - step: &english
        name: 'English Codes(sukkiri-sql4-english)'
        image: atlassian/default-image:2
        script:
          - cat setup/chap01/pre_list0101.sql 
          # - cat my_known_hosts_eng > ~/.ssh/known_hosts
          # - chmod 644 ~/.ssh/known_hosts
          # - ls -l ~/.ssh && cat ~/.ssh/known_hosts
          # - echo $ENGLISH_SSH_KEYS
          # - echo $ENGLISH_SSH_KEYS | base64 --decode
          # - (umask 077 ; echo $ENGLISH_SSH_KEYS | base64 --decode > ~/.ssh/id_ed25519) && ls -a ~/.ssh
          - git remote add english git@github.com:miyabilink/sukkiri-sql4-english.git
          - git remote -v
          - git config remote.origin.fetch "+refs/heads/*:refs/remotes/origin/*"
          - git fetch origin
          - git checkout main
          - git pull
          - git merge origin/main
          - git ls-remote english # 要確認
          - ssh -T git@github.com # 確認
          - git remote -v
          - GIT_SSH_COMMAND='ssh -i ~/.ssh/id_ed25519' git remote show english
          - GIT_SSH_COMMAND='ssh -i ~/.ssh/id_ed25519' git ls-remote english
          - ssh-keygen -lf ~/.ssh/id_ed25519.pub # ここまで
          - find . -type f -name '*.sql' -exec sed -i -e s/'家計簿アーカイブ'/archive/g -e s/'家計簿集計'/statistics/g -e s/'家計簿'/cashbook/g -e s/'経費区分'/item_category/g {} \;
          - find . -type f -name '*.sql' -exec sed -i -e s/'日付'/act_on/g -e s/'費目'/item/g -e s/'メモ'/note/g -e s/'入金額'/cash_in/g -e s/'出金額'/cash_out/g -e s/'名称'/title/g -e s/'名前'/name/g -e s/'備考'/description/g -e s/'合計'/sum/g -e s/'平均'/avg/g -e s/'最大'/max/g -e s/'最小'/min/g -e s/'回数'/count/g {} \;
          - git add .
          - git rm -f bitbucket-pipelines.yml my_known_hosts
          - git commit -m "convert from Japanese to English"
          - git filter-branch -f --env-filter "GIT_AUTHOR_NAME='Izumi TACHIBANA'; GIT_AUTHOR_EMAIL='tachibana@miyabilink.jp'; GIT_COMMITTER_NAME='Izumi TACHIBANA'; GIT_COMMITTER_EMAIL='tachibana@miyabilink.jp';" --tag-name-filter cat -- --all
          - GIT_SSH_COMMAND='ssh -i ~/.ssh/id_ed25519' git push english --tags
          - GIT_SSH_COMMAND='ssh -i ~/.ssh/id_ed25519' git push -f english main
    - step: &shorten
        name: 'Shorten Codes(sukkiri-sql4-shorten)'
        image: atlassian/default-image:2
        script:
          - cat setup/chap01/pre_list0101.sql 
          - cat my_known_hosts_short > ~/.ssh/known_hosts
          - echo $SHORTEN_SSH_KEYS | base64 --decode
          - (umask 077 ; echo $SHORTEN_SSH_KEYS | base64 --decode > ~/.ssh/id_ed25519) && ls -a ~/.ssh
          - git remote add shorten git@github.com:miyabilink/sukkiri-sql4-shorten.git
          - git config remote.origin.fetch "+refs/heads/*:refs/remotes/origin/*"
          - git fetch origin
          - git checkout main
          - git pull
          - git merge origin/main
          - find . -type f -name '*.sql' -exec sed -i -e s/'家計簿アーカイブ'/KA/g -e s/'家計簿集計'/KS/g -e s/'家計簿'/KK/g -e s/'経費区分'/KH/g {} \;
          - find . -type f -name '*.sql' -exec sed -i -e s/'日付'/HD/g -e s/'費目'/HM/g -e s/'メモ'/MM/g -e s/'入金額'/NK/g -e s/'出金額'/SK/g -e s/'名前'/NM/g -e s/'備考'/BK/g -e s/'名称'/MS/g -e s/'合計'/GK/g -e s/'平均'/HK/g -e s/'最大'/SD/g -e s/'最小'/SS/g -e s/'回数'/KS/g {} \;
          - cat setup/chap01/pre_list0101.sql 
          - git add .
          - git rm -f bitbucket-pipelines.yml my_known_hosts
          - git commit -m "convert from Japanese to Shorten"
          - git filter-branch -f --env-filter "GIT_AUTHOR_NAME='Izumi TACHIBANA'; GIT_AUTHOR_EMAIL='tachibana@miyabilink.jp'; GIT_COMMITTER_NAME='Izumi TACHIBANA'; GIT_COMMITTER_EMAIL='tachibana@miyabilink.jp';" --tag-name-filter cat -- --all
          - GIT_SSH_COMMAND='ssh -i ~/.ssh/id_ed25519' git push shorten --tags
          - GIT_SSH_COMMAND='ssh -i ~/.ssh/id_ed25519' git push -f shorten main
pipelines:
    tags:
      v*.*.*:
        - step: *japanese
        - step: *english
        - step: *shorten
